{% extends 'base.html' %}

<!-- <html>
    <head>
        <title>Post Form</title>
    </head>

    <body>
        <form method="POST">
            {% csrf_token %}
                {{form.as_p}}
            <button type="submit">Submit</button>
          </form>
    </body>
</html> -->


{% block content %}
<div class="row g-0 border rounded p-4">
    <form method="POST">
        {% csrf_token %}
        {{form.as_div}}
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
{% endblock %}